@charset "utf-8";

body {
    font-family: 'Courier Prime';
}

.card > img {
    object-fit: cover;
    height: 18rem;
}

/* Typing title */
h2.typing-title{
    display: none;
}

.typing1 {
    display: inline-block;
    animation-name: cursor;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
}

/* Typing content */
.typing-text{
    display: none;
}

ul {
    list-style: none;
    padding-left:0;
}

li {
    padding-left:0;
}

.typing2 ul li.on {
    display: inline-block;
    animation-name: cursor;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
}

@keyframes cursor {
    0%{border-right: 1px solid #000} 
    50%{border-right: 1px solid #fff} 
    100%{border-right: 1px solid #000} 
}

a{
    text-decoration:none;
    border:none;
    color: inherit;
}

.typing {
    display: inline-block;
    animation-name: cursor;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
}

.mytitle {

    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 20px;

    /* border-width: 5px;
    border-style: solid;
    border-color: red; */

}

.multiline {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.hero {
    color: white;
    background-color: black;
    border-radius: 20px;
}

.typewriter::after {
    content: '|';
    animation: blinker 1s linear infinite;
}
  
@keyframes blinker {
    50% {
        opacity: 0;
    }
}