body {
    background-color: black;
    color: white;
}

.container {
    display: flex;
    flex-direction: row;
}

.container > section {
    flex-grow: 1;
}

* {
    /* border-style: solid;
    border-color: red; */
}