.multiline {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.hero {
    color: white;
    background-color: black;
    border-radius: 20px;
}

.typewriter::after {
    content: '|';
    animation: blinker 1s linear infinite;
}
  
@keyframes blinker {
    50% {
        opacity: 0;
    }
}